.imglogo {
    width: 150px;
}

.contenedor1 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.contenedor1 nav button {
    padding: 8px 20px;
    border: 2px solid rgb(109, 150, 167);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    background-color:rgb(109, 150, 167);
}